@tailwind base;
@tailwind utilities;
@tailwind components;


body {
  background: #f1f3f9;
  align-items: center;
  justify-content: center;
  color: rgb(21, 21, 21);
}



.TimelineItem:before {
  background-color: rgb(198, 198, 198);
  bottom: 0;
  content: "";
  display: block;
  left: 0;
  position: absolute;
  top: 0;
  width: max(2px, 0.125rem);
}



.TimelineItem {
  display: flex;
  margin-left: var(1rem, 1rem);
  padding: var(1rem, 1rem) 0;
  position: relative;
}


.truncate-cell {
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  max-width: 0;
}

th {
  position: sticky;
  top: 0;
  z-index: 2;
}

th:after,
th:before {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
}

th:before {
  top: -1px;
  border-top: 1px solid #e5e5e5;
}

th:after {
  bottom: -2px;
  border-bottom: 2px solid #e5e5e5;
}